h1, p {
    font-family: Lato;
  }
  
  .bg-bg-awesome {
    background-color: purple!important;
  }
  .bg-python {
    background-color: #3572A5!important;
  }
  .bg-css {
    background-color: #563d7c!important;
  }
  .bg-php {
    background-color: #4F5D95!important;
  }
  .bg-javascript {
    background-color: #f1e05a!important;
  }
  .bg-xonsh{
    background-color: lightcoral!important;
  }
  .bg-shell, .bg-powershell {
    background-color: tan!important;
  }
  .bg-html {
    background-color: brown!important;
  }
  .bg-sql, .bg-tsql{
    background-color: turquoise!important;
  }